NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_d2FybS1idWZmYWxvLTk5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_T4gyTwFaivyKPQrnbg8pUXsNGgo8OKLIt036IcndOG
CLERK_WEBHOOK_SECRET=whsec_QQlrcJvGNryjB4eyUgEOB9Yl6sYSVvJg

NEXT_PUBLIC_SUPABASE_URL=https://okclyiptmwsqztgjojii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_FWJkcMGjDvgq-ZJD80fN5g_Jl9ktxnT
